<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [284]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [285]:
# Carga el dataset de trabajo
netflix_concat= pd.read_csv("datos/netflix_concat.csv", index_col= 0)    #Contrl espacio para ver por donde voy

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [286]:
netflix_concat.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",NaN,NaN,NaN,NaN,NaN,NaN

In [287]:
filtro_lanzamiento= netflix_concat["type"] == "Movie"
filtro_release= netflix_concat["release_year"] == 2021
netflix_concat[filtro_lanzamiento & filtro_release].head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,NaN,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...,NaN,NaN,NaN,NaN,NaN,NaN
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,NaN,NaN,NaN,NaN,NaN,NaN
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [288]:
filtro_duración= netflix_concat["duration"] == 90
netflix_concat[filtro_duración]["title"]

Series([], Name: title, dtype: object)

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [289]:
filtro_año= netflix_concat["release_year"] > 2018
filtro_país= netflix_concat["country"] == "India"
netflix_concat[filtro_año & filtro_país]["title"]

4                      Kota Factory
39                     Chhota Bheem
126                         Shikara
190                      Thimmarusu
266            The Creative Indians
                   ...
5966                         15-Aug
6024                      7 (Seven)
6464    Chhota Bheem Kungfu Dhamaka
8121                    Super Bheem
8173                      Thackeray
Name: title, Length: 193, dtype: object

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [290]:
filtro_clasifiacion= ["TV-14", "R"]
netflix_concat[netflix_concat["rating"].isin(filtro_clasifiacion)].filter(items= ["title","rating"])

                                                title rating
8                       The Great British Baking Show  TV-14
18                                          Intrusion  TV-14
20    Monsters Inside: The 24 Faces of Billy Milligan  TV-14
21                             Resurrection: Ertugrul  TV-14
24                                              Jeans  TV-14
...                                               ...    ...
8794                                           اشتباك  TV-14
8799                                            Zenda  TV-14
8802                                           Zodiac      R
8804                                       Zombieland      R
8806                                           Zubaan  TV-14

[2959 rows x 2 columns]

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos ha dirigido cada uno de los directores?

In [291]:
netflix_concat["director"].unique()

array(['Kirsten Johnson', nan, 'Julien Leclercq', ..., 'Majid Al Ansari',
       'Peter Hewitt', 'Mozez Singh'], dtype=object)

In [292]:
netflix_concat["director"] == "Christopher Nolan"

0       False
1       False
2       False
3       False
4       False
        ...
8802    False
8803    False
8804    False
8805    False
8806    False
Name: director, Length: 8807, dtype: bool

In [293]:
lista_director= ["Christopher Nolan", "Martin Scorsese"]
titulos_chris_martin= netflix_concat[netflix_concat["director"].isin(lista_director)]
titulos_chris_martin.value_counts().sum()

np.int64(1)

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [294]:
netflix_concat["Language"].value_counts()

Language
English                       352
Hindi                          28
Spanish                        26
French                         18
Italian                        14
Indonesian                      9
Portuguese                      9
Korean                          5
Japanese                        5
English/Spanish                 5
German                          4
Turkish                         4
Polish                          3
Marathi                         3
Thai                            2
Filipino                        2
Dutch                           2
English/Japanese                2
English/Hindi                   2
English/Arabic                  1
Swedish                         1
Malay                           1
Bengali                         1
Norwegian                       1
Thia/English                    1
English/Taiwanese/Mandarin      1
Spanish/English                 1
English/Swedish                 1
Spanish/Catalan                 1
Tamil                           1
Spanish/Basque                  1
Khmer/English/French            1
English/Korean                  1
English/Mandarin                1
English/Russian                 1
English/Akan                    1
English/Ukranian/Russian        1
Name: count, dtype: int64

In [295]:
lista_paises= ["United States", "United Kingdom", "Canada"]
netflix_US_UK_CA= netflix_concat[netflix_concat["country"].isin(lista_paises)]
netflix_US_UK_CA.value_counts() #Para ver que veamos que titulos son de esos paises


patron_regex= "/"                                             
más_language= netflix_US_UK_CA["Language"].str.contains(patron_regex, case= False, na= False)     #El case = False hace que se budque research con minuscula y con mayuscula si se pone case= True solo dará las minusculas
netflix_US_UK_CA[más_language].value_counts().sum()  #Para que veamos cuantos de esos títulos tienen más de un lenguaje

np.int64(3)

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [296]:
filtro_rango_año= netflix_concat["release_year"].between(2015, 2020, inclusive= "both")
netflix_concat[filtro_rango_año].filter(items= ["title","release_year"])

                                                  title  release_year
0                                  Dick Johnson Is Dead          2020
16    Europe's Most Dangerous Man: Otto Skorzeny in ...          2020
17                                      Falsa identidad          2020
21                               Resurrection: Ertugrul          2018
32                                        Sex Education          2020
...                                                 ...           ...
8796                                         Yunus Emre          2016
8797                                          Zak Storm          2016
8801                                            Zinzana          2015
8803                                        Zombie Dumb          2018
8806                                             Zubaan          2015

[5624 rows x 2 columns]

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [297]:
netflix_concat["IMDB Score"]

0       7.5
1       NaN
2       NaN
3       NaN
4       NaN
       ...
8802    NaN
8803    NaN
8804    NaN
8805    NaN
8806    NaN
Name: IMDB Score, Length: 8807, dtype: float64

In [298]:
filtro_IMDB= netflix_concat["IMDB Score"].between(6.5, 8, inclusive= "neither" )
filtro_duracion= netflix_concat["duration"].isna()
netflix_concat[filtro_IMDB & filtro_duracion].head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
834,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,"May 27, 2021",2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Blue Miracle,Drama,"May 27, 2021",95.0,6.7,English
1024,s1025,Movie,Arlo the Alligator Boy,Ryan Crego,"Michael J. Woodard, Mary Lambert, Brett Gelman...",United States,"April 16, 2021",2021,TV-Y7,NaN,"Children & Family Movies, Comedies, Music & Mu...","To find the father he never knew, optimistic A...",Arlo the Alligator Boy,Animated musical comedy,"April 16, 2021",92.0,6.7,English
1157,s1158,Movie,Bad Trip,NaN,"Eric André, Lil Rel Howery, Tiffany Haddish, M...",United States,"March 26, 2021",2021,TV-MA,NaN,Comedies,"In this hidden-camera prank comedy, two best f...",Bad Trip,Hidden-camera prank comedy,"March 26, 2021",86.0,6.6,English

#### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 o 150 minutos?

In [299]:
patron_regex1= "^150" 
patron_regex2="^90"                                   
_noventa=netflix_concat["duration"].str.contains(patron_regex2, case= False, na= False, regex= True)
_cientocincuenta=netflix_concat["duration"].str.contains(patron_regex1, case= False, na= False, regex= True)
total= _cientocincuenta | _noventa
netflix_concat[total].head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English
94,s95,Movie,Show Dogs,Raja Gosnell,"Will Arnett, Ludacris, Natasha Lyonne, Stanley...","United Kingdom, United States","September 8, 2021",2018,PG,90 min,"Children & Family Movies, Comedies",A rough and tough police dog must go undercove...,NaN,NaN,NaN,NaN,NaN,NaN
107,s108,Movie,A Champion Heart,David de Vos,"Mandy Grace, David de Vos, Donna Rusch, Devan ...",United States,"September 4, 2021",2018,G,90 min,"Children & Family Movies, Dramas",When a grieving teen must work off her debt to...,NaN,NaN,NaN,NaN,NaN,NaN

In [300]:
_noventa.sum()

np.int64(152)

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [301]:

patron_regex= "Love"                                             
_love=netflix_concat["title"].str.contains(patron_regex, case= False, na= False)
netflix_concat[_love].head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
25,s26,TV Show,Love on the Spectrum,NaN,Brooke Satchwell,Australia,"September 21, 2021",2021,TV-14,2 Seasons,"Docuseries, International TV Shows, Reality TV",Finding love can be hard for anyone. For young...,NaN,NaN,NaN,NaN,NaN,NaN
158,s159,Movie,Love Don't Cost a Thing,Troy Byer,"Nick Cannon, Christina Milian, Kenan Thompson,...",United States,"September 1, 2021",2003,PG-13,NaN,"Comedies, Romantic Movies",A nerdy teen tries to make himself cool by ass...,NaN,NaN,NaN,NaN,NaN,NaN
159,s160,Movie,Love in a Puff,Pang Ho-cheung,"Miriam Chin Wah Yeung, Shawn Yue, Singh Hartih...",Hong Kong,"September 1, 2021",2010,TV-MA,NaN,"Comedies, Dramas, International Movies",When the Hong Kong government enacts a ban on ...,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [302]:

patron_regex= "Johnson"                                             
apellido=netflix_concat["director"].str.contains(patron_regex, case= False, na= False)
netflix_concat[apellido].head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English
829,s830,Movie,Dog Gone Trouble,Kevin Johnson,"Big Sean, Pamela Adlon, Lucy Hale, Marissa Jar...",NaN,"May 28, 2021",2021,TV-Y7,NaN,"Children & Family Movies, Comedies",The privileged life of a pampered dog named Tr...,NaN,NaN,NaN,NaN,NaN,NaN
846,s847,Movie,Home,Tim Johnson,"Jim Parsons, Rihanna, Steve Martin, Jennifer L...",United States,"May 25, 2021",2015,PG,NaN,"Children & Family Movies, Comedies, Sci-Fi & F...",When misfit alien Oh mistakenly sends a party ...,NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [303]:
filtro_cast= netflix_concat["cast"].str.contains("Mike Tyson",case=False,na=False)
filtro_genre= netflix_concat["listed_in"].str.contains("Documentaries",case=False,na=False)    #Creo que el código no está mal simplemnete es cosa de mi base de datos q no tenga mike
netflix_concat[filtro_cast & filtro_genre]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
8651,s8652,Movie,Tyson,James Toback,"Mike Tyson, Trevor Berbick","United States, France","March 1, 2019",2008,R,90 min,"Documentaries, Sports Movies","In this surprisingly emotional documentary, he...",NaN,NaN,NaN,NaN,NaN,NaN

In [304]:
filtro_genre.sum()

np.int64(869)

In [305]:
filtro_cast.sum()

np.int64(5)

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [306]:
netflix_concat[["title", "country", "release_year"]]

                      title        country  release_year
0      Dick Johnson Is Dead  United States          2020
1             Blood & Water   South Africa          2021
2                 Ganglands            NaN          2021
3     Jailbirds New Orleans            NaN          2021
4              Kota Factory          India          2021
...                     ...            ...           ...
8802                 Zodiac  United States          2007
8803            Zombie Dumb            NaN          2018
8804             Zombieland  United States          2009
8805                   Zoom  United States          2006
8806                 Zubaan          India          2015

[8807 rows x 3 columns]

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [307]:
netflix_concat.filter(like="date")

              date_added
0     September 25, 2021
1     September 24, 2021
2     September 24, 2021
3     September 24, 2021
4     September 24, 2021
...                  ...
8802   November 20, 2019
8803        July 1, 2019
8804    November 1, 2019
8805    January 11, 2020
8806       March 2, 2019

[8807 rows x 1 columns]

In [318]:
netflix_concat.filter(like = "date")

              date_added
0     September 25, 2021
1     September 24, 2021
2     September 24, 2021
3     September 24, 2021
4     September 24, 2021
...                  ...
8802   November 20, 2019
8803        July 1, 2019
8804    November 1, 2019
8805    January 11, 2020
8806       March 2, 2019

[8807 rows x 1 columns]

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

In [309]:
netflix_concat.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'Title', 'Genre', 'Premiere', 'Runtime', 'IMDB Score', 'Language'],
      dtype='object')

In [310]:
netflix_concat_query= netflix_concat.query("country == 'France' and duration == '80 min'")[["title"]]             
netflix_concat_query.head()

     title
5474  Arès

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

In [311]:
filtro_type= netflix_concat["type"] == "Movie"          #El código creo que está bien porque si pongo por ejemplo 2015 si que me sale
filtro_ryear= netflix_concat["release_year"] < 2010
netflix_concat[filtro_type & filtro_ryear]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",NaN,NaN,NaN,NaN,NaN,NaN
22,s23,Movie,Avvai Shanmughi,K.S. Ravikumar,"Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...",NaN,"September 21, 2021",1996,TV-PG,161 min,"Comedies, International Movies",Newly divorced and denied visitation rights wi...,NaN,NaN,NaN,NaN,NaN,NaN
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...,NaN,NaN,NaN,NaN,NaN,NaN
26,s27,Movie,Minsara Kanavu,Rajiv Menon,"Arvind Swamy, Kajol, Prabhu Deva, Nassar, S.P....",NaN,"September 21, 2021",1997,TV-PG,147 min,"Comedies, International Movies, Music & Musicals",A tangled love triangle ensues when a man fall...,NaN,NaN,NaN,NaN,NaN,NaN
41,s42,Movie,Jaws,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",United States,"September 16, 2021",1975,PG,124 min,"Action & Adventure, Classic Movies, Dramas",When an insatiable great white shark terrorize...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8793,s8794,Movie,"Yours, Mine and Ours",Raja Gosnell,"Dennis Quaid, Rene Russo, Sean Faris, Katija P...",United States,"November 20, 2019",2005,PG,NaN,"Children & Family Movies, Comedies",When a father of eight and a mother of 10 prep...,NaN,NaN,NaN,NaN,NaN,NaN
8799,s8800,Movie,Zenda,Avadhoot Gupte,"Santosh Juvekar, Siddharth Chandekar, Sachit P...",India,"February 15, 2018",2009,TV-14,120 min,"Dramas, International Movies",A change in the leadership of a political part...,NaN,NaN,NaN,NaN,NaN,NaN
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",NaN,NaN,NaN,NaN,NaN,NaN
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,NaN,NaN,NaN,NaN,NaN,NaN
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",NaN,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

In [312]:
netflix_ordenado= netflix_concat["IMDB Score"].sort_values(axis= 0, ascending= True)
netflix_ordenado[-10:]

8797   NaN
8798   NaN
8799   NaN
8800   NaN
8801   NaN
8802   NaN
8803   NaN
8804   NaN
8805   NaN
8806   NaN
Name: IMDB Score, dtype: float64

In [313]:
netflix_concat.nlargest(10, columns= "IMDB Score").filter(items= ["title"])

                                            title
1886     David Attenborough: A Life on Our Planet
4293                      Springsteen on Broadway
5893  Winter on Fire: Ukraine's Fight for Freedom
3386                       Dancing with the Birds
5152                       Cuba and the Cameraman
1171                                   Seaspiracy
1857        The Three Deaths of Marisela Escobedo
3273                                        Klaus
2038                           My Octopus Teacher
2097                               Rising Phoenix

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

In [314]:
netflix_concat.nsmallest(5, columns= "IMDB Score")["title"]

3623    Enter the Anime
2104        Dark Forces
3094            The App
5073     The Open House
1777        Kaali Khuhi
Name: title, dtype: object

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

In [315]:
sin_director= netflix_concat["director"].isna()
netflix_concat[sin_director]["title"]

1                             Blood & Water
3                     Jailbirds New Orleans
4                              Kota Factory
10      Vendetta: Truth, Lies and The Mafia
14          Crime Stories: India Detectives
                       ...
8795                        Yu-Gi-Oh! Arc-V
8796                             Yunus Emre
8797                              Zak Storm
8800                     Zindagi Gulzar Hai
8803                            Zombie Dumb
Name: title, Length: 2634, dtype: object

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

In [316]:
titlenotnull= netflix_concat["title"].notnull()
countrynotnull= netflix_concat["country"].notnull()
IMDBnotnull= netflix_concat["IMDB Score"].notnull()
netflix_concat[titlenotnull & countrynotnull & IMDBnotnull].head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Dick Johnson Is Dead,Documentary,"October 2, 2020",90.0,7.5,English
141,s142,Movie,Extraction,Steven C. Miller,"Bruce Willis, Kellan Lutz, Gina Carano, D.B. S...","United States, United Kingdom, Canada","September 1, 2021",2015,R,82 min,Action & Adventure,"When a retired CIA agent is kidnapped, his son...",Extraction,Action,"April 24, 2020",117.0,6.7,English
834,s835,Movie,Blue Miracle,Julio Quintana,"Jimmy Gonzales, Dennis Quaid, Anthony Gonzalez...",United States,"May 27, 2021",2021,TV-PG,NaN,"Children & Family Movies, Dramas, Faith & Spir...","To save their cash-strapped orphanage, a guard...",Blue Miracle,Drama,"May 27, 2021",95.0,6.7,English

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.

In [317]:
duplicados= netflix_concat["title"].duplicated()
duplicados.sum()                               #No

np.int64(0)